<manifest
    package="com.artfulbits.tongue"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GradleOverrides">

  <uses-sdk
      android:minSdkVersion="10"
      android:targetSdkVersion="22"/>

  <application/>

</manifest>
